@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h3>Fa Xian Zhe Options </h3>
<p>options:@Json.Serialize(Model.Options)</p>

<h3>Api Configuration From Cache</h3>
<p>value:@Json.Serialize(Model.Apis)</p>